<h1>Welcome to Rails Twitter</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Nullam sagittis placerat risus at eleifend. Sed in nulla sed odio tempus suscipit ac quis urna. 
    Etiam rhoncus lectus vitae ante pellentesque tristique vel id magna. Fusce odio sapien, luctus et congue vel, facilisis at nisl. 
    In id dignissim mi, in aliquam diam. Cras volutpat fringilla velit, a tristique elit auctor id. Etiam viverra at velit ac hendrerit. 
    Nullam mattis hendrerit dui nec egestas. Ut eleifend nibh eu lorem tincidunt, a porta nulla porttitor. 
    In semper blandit tellus, sit amet mollis orci lacinia vel. 
    Nunc urna lacus, interdum at leo vestibulum, laoreet facilisis leo. Integer tristique iaculis lorem nec cursus. 
    Donec maximus justo at varius porta. Maecenas facilisis non nulla ut sagittis.
</p>