<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1>Welcome to My Wonderful Website</h1>

	<img src="http://quotesnhumor.com/wp-content/uploads/2015/08/Top-50-Funniest-Memes-Collection-funniest.jpg" alt="bush banana" />
  </body>
</html>
